body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.square {
    width: 200px;  /* Largura do quadrado */
    height: 200px; /* Altura do quadrado */
    border: 2px solid #333; /* Borda do quadrado */
    border-radius: 10px; /* Bordas arredondadas */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do quadrado */
    transition: transform 0.3s; /* Transição suave para animações */
}

.square:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}
